<form class="form-style js-ajax-form" action="" method="post" autocomplete="off">
    <h3 class="form-style__title h3 mb30">Sign in or register<br>to save your favorite homes</h3>

    <div class="form-style__full-w-row mb10">
        {% include 'layouts/controls/button.html.twig' with {
            text: 'Continue with Facebook',
            mod: '_med icon-facebook',
            href: '#',
        } only %}
    </div>

    <div class="form-style__full-w-row">
        {% include 'layouts/controls/button.html.twig' with {
            text: 'Continue with Google',
            mod: '_med _bordered-gray _google-colored',
            href: '#',
        } only %}
    </div>

    {% include 'layouts/common/separator.html.twig' with {
        text: 'OR',
        wrapMod: '',
        marginsMod: 'mt20 mb20',
    } only %}

    <div class="form-style__full-w-row mb10">
        <span class="form-style__label small-text mb10">Email</span>

        {% include 'layouts/form/input.html.twig' with {
            name: 'email',
            placeholder: '',
            inputMod: '_bordered-med required usermail',
        } only %}
    </div>

    <div class="form-style__full-w-row mb20">
        <span class="form-style__label small-text mb10">Password</span>

        <div class="tel-wrap">
            <div class="tel-wrap__code">
                {% include 'layouts/form/autofill.html.twig' with {
                    inputName: 'code',
                    wrapMod: 'js-autofill-filter',
                    inputPlaceholder: ' ',
                    inputMod: '_bordered-med',
                    inputValue: 'CA +1',
                    phoneCodeOptions: true,
                } only %}
            </div>
            <div class="tel-wrap__phone">
                {% include 'layouts/form/input.html.twig' with {
                    name: 'phone',
                    placeholder: 'Phone number',
                    inputMod: '_bordered-med required',
                } only %}
            </div>
        </div>
    </div>

    <div class="form-style__full-w-row mb15">
        {% include 'layouts/controls/button.html.twig' with {
            button: true,
            text: 'Login',
            mod: '_bordered',
        } only %}
    </div>

    <span class="link-turquoise tiny-text js-call-popup" data-popup="{{ {
        target: 'password-recovery',
        show_overlay: true
    }|json_encode }}">Forgot Password?</span>

    {% include 'layouts/common/separator.html.twig' with {
        wrapMod: '',
        marginsMod: 'mt20 mb30',
    } %}

    <span class="button1">
        Not a member? <span class="link-turquoise inline-block js-call-popup" data-popup="{{ {
            target: 'registration',
            show_overlay: true
        }|json_encode }}">Register for free</span>
    </span>
</form>