<div class="estate-gallery js-wrap">
    <div class="estate-gallery__nav-wrap">
        {% include 'layouts/modules/slider-nav.html.twig' %}
    </div>

    <div class="estate-gallery__slider-wrap">
        <div
            class="estate-gallery-slider js-estate-gallery-slider"
            data-lazy-inner="true"
            data-img-selector="eg-src"
            data-init-pb="true"
        >
            {% for i in 0..(images|length / 5)|round(0, 'ceil') %}
                {% set currentSlideImages = images|slice(loop.index0*5, 5) %}
                {% set currentSlideImagesCount = currentSlideImages|length %}
                {% set imgContainerMod = '_' ~ currentSlideImagesCount ~ '-img' %}

                {% if currentSlideImagesCount %}
                    <div class="estate-gallery-slider__item">
                        <div class="estate-gallery-slider__container {{ imgContainerMod }}">
                            {% for img in currentSlideImages %}
                                <a class="estate-gallery-slider__img-wrap" href="{{ img }}" >
                                    <img
                                        class="estate-gallery-slider__img of"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        data-eg-src="{{ img }}"
                                        data-thumb="{{ img }}"
                                    />
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
