{% set fullSearchNavList = [
    {
        text: 'MLS®',
        linkMod: 'js-full-search-type-link',
        dataVal: 'mls',
        dataToggle: '',
    },
    {
        text: 'New Property',
        linkMod: 'js-full-search-type-link',
        dataVal: 'new-property',
        dataToggle: '',
    },
    {
        text: 'Commercial',
        linkMod: 'js-full-search-type-link',
        dataVal: 'commercial',
        dataToggle: 'commercial',
    },
] %}

{% set fullSearchBuildingSizeSelect = {
    name: 'building-size',
    inputMod: '_transparent',
    wrapMod: ' js-fs-tab js-fs-tab-commercial _hide',
    options: [
        {
            value: 'any',
            text: 'Any Builiding Size',
            selected: true,
        },

        {
            value: '100',
            text: '100+ sqft',
        },

        {
            value: '200',
            text: '200+ sqft',
        },

        {
            value: '300',
            text: '300+ sqft',
        },
    ]
}%}

{% set fullSearchlotSizeSelect = {
    name: 'lot-size',
    inputMod: '_transparent',
    wrapMod: ' js-fs-tab js-fs-tab-commercial _hide',
    options: [
        {
            value: 'any',
            text: 'Any Lot Size',
            selected: true,
        },

        {
            value: '2000',
            text: '2000+ sqft',
        },

        {
            value: '3000',
            text: '3000+ sqft',
        },

        {
            value: '4000',
            text: '4000+ sqft',
        },
    ]
}%}

<form class="full-search js-full-search">
    <div class="full-search__nav-wrap mb20">
        <input type="text" class="pseudo-hidden js-full-search-type" name="search-type" />

        {% include 'layouts/modules/slide-menu.html.twig' with {
            list: fullSearchNavList,
            firstActive: true,
            wrapMod: '_turquoise',
        } only %}
    </div>

    <div class="full-search__fields-container mb20">
        {% include 'layouts/form/input.html.twig' with {
            name: 'search-input',
            placeholder: 'Enter Neighbourhood, City, MLS®',
            inputMod: '_transparent',
        } only %}

        <div class="full-search__selects-container">
            <div class="full-search__selects-group">
                {% include 'layouts/form/checkbox-list-select.html.twig' with {
                    wrapMod: '_fh js-fs-tab js-fs-tab-default',
                    defaultList: 'common',
                    placeholder: 'Any',
                } %}

                {% include 'layouts/form/checkbox-list-select.html.twig' with {
                    wrapMod: '_fh js-fs-tab js-fs-tab-commercial _hide',
                    defaultList: 'commercial',
                    placeholder: 'Any',
                } %}

                {% include 'layouts/form/price-select.html.twig' with {
                    wrapMod: '_fh',
                } %}
            </div>

            <div class="full-search__selects-group">
                {% include 'layouts/form/radio-row-select.html.twig' with {
                    wrapMod: '_fh js-fs-tab js-fs-tab-default',
                    defaultList: 'beds',
                    placeholder: 'Beds',
                } %}

                {% include 'layouts/form/radio-row-select.html.twig' with {
                    wrapMod: '_fh js-fs-tab js-fs-tab-default',
                    defaultList: 'baths',
                    placeholder: 'Baths',
                } %}

                {% include 'layouts/form/select.html.twig' with fullSearchBuildingSizeSelect only %}
                {% include 'layouts/form/select.html.twig' with fullSearchlotSizeSelect only %}
            </div>
        </div>

        <button class="icon-btn icon-search"></button>
    </div>

    <div class="full-search__buttons-wrap">
        <div class="full-search__button-map-wrap">
            {% include 'layouts/controls/button.html.twig' with {
                href: '#',
                text: 'Search by map',
                mod: '_dark _to-icon-on-700 icon-map'
            } %}
        </div>

        <div class="full-search__button-search-wrap show-on-700">
            {% include 'layouts/controls/button.html.twig' with {
                button: true,
                text: 'Search',
                mod: 'icon-search'
            } %}
        </div>
    </div>
</form>
