{% set fullSearchNavList = [
    {
        text: 'MLS®',
        linkMod: 'js-full-search-type-link',
        dataVal: 'mls',
        dataToggle: '',
    },
    {
        text: 'New Property',
        linkMod: 'js-full-search-type-link',
        dataVal: 'new-property',
        dataToggle: '',
    },
    {
        text: 'Commercial',
        linkMod: 'js-full-search-type-link',
        dataVal: 'commercial',
        dataToggle: 'commercial',
    },
] %}

{% set fullSearchPropertyTypeCheckboxes = [
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'Apartment/Condo',
        text: 'Apartment/Condo',
    },
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'House',
        text: 'House',
    },
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'Multifamily',
        text: 'Multifamily',
    },
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'Townhouse',
        text: 'Townhouse',
    },
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'Land Only',
        text: 'Land Only',
    },
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'Other',
        text: 'Other',
    },
] %}

{% set fullSearchCommercialTypeCheckboxes = [
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'Agri-Business',
        text: 'Agri-Business',
    },
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'Business',
        text: 'Business',
    },
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'Business with Property',
        text: 'Business with Property',
    },
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'Industrial',
        text: 'Industrial',
    },
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'Land',
        text: 'Land',
    },
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'Multi-Family',
        text: 'Multi-Family',
    },
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'Office',
        text: 'Office',
    },
    {
        type: 'checkbox',
        name: 'property-type',
        value: 'Retail',
        text: 'Retail',
    },
] %}

{% set fullSearchMinPriceSelect = {
    name: 'min-price',
    inputMod: '_bordered-bright',
    options: [
        {
            value: 'none',
            text: 'No Min',
        },
        {
            value: '100',
            text: 'CA$100',
        },
        {
            value: '200',
            text: 'CA$200',
        },
    ]
} %}

{% set fullSearchMaxPriceSelect = {
    name: 'max-price',
    inputMod: '_bordered-bright',
    options: [
        {
            value: 'none',
            text: 'No Max',
        },
        {
            value: '100',
            text: 'CA$100',
        },
        {
            value: '200',
            text: 'CA$200',
        },
    ]
} %}

{% set fullSearchBathsRadioOptions = [
    {
        name: 'baths',
        value: 'any',
        text: 'Any',
        checked: true,
    },
    {
        name: 'baths',
        value: '1',
        text: '1',
    },
    {
        name: 'baths',
        value: '2',
        text: '2',
    },
    {
        name: 'baths',
        value: '3',
        text: '3',
    },
    {
        name: 'baths',
        value: '4',
        text: '4',
    },
    {
        name: 'baths',
        value: '5+',
        text: '5+',
    },
] %}

{% set fullSearchBedsRadioOptions = [
    {
        name: 'beds',
        value: 'studio+',
        text: 'Studio+',
        checked: true,
    },
    {
        name: 'beds',
        value: '1',
        text: '1',
    },
    {
        name: 'beds',
        value: '2',
        text: '2',
    },
    {
        name: 'beds',
        value: '3',
        text: '3',
    },
    {
        name: 'beds',
        value: '4',
        text: '4',
    },
    {
        name: 'beds',
        value: '5',
        text: '5',
    },
    {
        name: 'beds',
        value: '6+',
        text: '6+',
    },
] %}

{% set fullSearchBuildingSizeSelect = {
    name: 'building-size',
    inputMod: '_fill-white',
    wrapMod: ' js-fs-tab js-fs-tab-commercial _hide',
    options: [
        {
            value: 'any',
            text: 'Any Builiding Size',
            selected: true,
        },

        {
            value: '100',
            text: '100+ sqft',
        },

        {
            value: '200',
            text: '200+ sqft',
        },

        {
            value: '300',
            text: '300+ sqft',
        },
    ]
}%}

{% set fullSearchlotSizeSelect = {
    name: 'lot-size',
    inputMod: '_fill-white',
    wrapMod: ' js-fs-tab js-fs-tab-commercial _hide',
    options: [
        {
            value: 'any',
            text: 'Any Lot Size',
            selected: true,
        },

        {
            value: '2000',
            text: '2000+ sqft',
        },

        {
            value: '3000',
            text: '3000+ sqft',
        },

        {
            value: '4000',
            text: '4000+ sqft',
        },
    ]
}%}

<form class="full-search js-full-search">
    <div class="full-search__nav-wrap mb20">
        <input type="text" class="pseudo-hidden js-full-search-type" name="search-type" />

        {% include 'layouts/modules/slide-menu.html.twig' with {
            list: fullSearchNavList,
            firstActive: true,
            wrapMod: '_turquoise',
        } only %}
    </div>

    <div class="full-search__fields-container mb20">
        {% include 'layouts/form/input.html.twig' with {
            name: 'search-input',
            placeholder: 'Enter Neighbourhood, City, MLS®',
            inputMod: '_bordered',
        } only %}

        <div class="full-search__selects-container">
            <div class="full-search__selects-group">
                {% embed 'layouts/containers/dropdown-button.html.twig' with {
                    placeholder: 'Any',
                    wrapMod: '_fh js-fs-tab js-fs-tab-default',
                    scroll: true,
                    list: fullSearchPropertyTypeCheckboxes,
                } only %}
                    {% block dropdown_content %}
                        <div class="list">
                            {% for item in list %}
                                {% include 'layouts/controls/check.html.twig' with {
                                    type: item.type,
                                    name: item.name,
                                    value: item.value,
                                    text: item.text,
                                    wrapMod: loop.index is not same as(list|length) ? 'mb10' : ''
                                } only %}
                            {% endfor %}
                        </div>
                    {% endblock %}
                {% endembed %}

                {% embed 'layouts/containers/dropdown-button.html.twig' with {
                    placeholder: 'Any',
                    wrapMod: '_fh  js-fs-tab js-fs-tab-commercial _hide',
                    scroll: true,
                    list: fullSearchCommercialTypeCheckboxes,
                } only %}
                    {% block dropdown_content %}
                        <div class="list">
                            {% for item in list %}
                                {% include 'layouts/controls/check.html.twig' with {
                                    type: item.type,
                                    name: item.name,
                                    value: item.value,
                                    text: item.text,
                                    wrapMod: loop.index is not same as(list|length) ? 'mb10' : ''
                                } only %}
                            {% endfor %}
                        </div>
                    {% endblock %}
                {% endembed %}

                {% embed 'layouts/containers/dropdown-button.html.twig' with {
                    placeholder: 'Price',
                    wrapMod: '_fh',
                    popupMod: '_small-padding',
                    selectMin: fullSearchMinPriceSelect,
                    selectMax: fullSearchMaxPriceSelect,
                } only %}
                    {% block dropdown_content %}
                        <div class="twin-fields">
                            {% include 'layouts/form/select.html.twig' with selectMin only %}
                            {% include 'layouts/form/select.html.twig' with selectMax only %}
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="full-search__selects-group">
                {% embed 'layouts/containers/dropdown-button.html.twig' with {
                    placeholder: 'Beds',
                    wrapMod: '_fh js-fs-tab js-fs-tab-default',
                    popupMod: '_small-padding',
                    beds: fullSearchBedsRadioOptions,
                } only %}
                    {% block dropdown_content %}
                        {% include 'layouts/controls/radio-row.html.twig' with {
                            list: beds,
                        } only %}
                    {% endblock %}
                {% endembed %}

                {% embed 'layouts/containers/dropdown-button.html.twig' with {
                    placeholder: 'Baths',
                    wrapMod: '_fh js-fs-tab js-fs-tab-default',
                    popupMod: '_small-padding',
                    baths: fullSearchBathsRadioOptions,
                } only %}
                    {% block dropdown_content %}
                        {% include 'layouts/controls/radio-row.html.twig' with {
                            list: baths,
                        } only %}
                    {% endblock %}
                {% endembed %}

                {% include 'layouts/form/select.html.twig' with fullSearchBuildingSizeSelect only %}
                {% include 'layouts/form/select.html.twig' with fullSearchlotSizeSelect only %}
            </div>
        </div>

        <button class="icon-btn icon-search"></button>
    </div>

    <div class="full-search__buttons-wrap">
        <div class="full-search__button-map-wrap">
            {% include 'layouts/controls/button.html.twig' with {
                href: '#',
                text: 'Search by map',
                mod: '_dark _to-icon-on-700 icon-map'
            } %}
        </div>

        <div class="full-search__button-search-wrap show-on-700">
            {% include 'layouts/controls/button.html.twig' with {
                button: true,
                text: 'Search',
                mod: 'icon-search'
            } %}
        </div>
    </div>









</form>



{#                {% include 'layouts/form/select.html.twig' with fullSearchPropertyTypeSelect only %}#}