{% set metricsLabels = {
    bedRooms: 'Beds',
    bathRooms: 'Baths',
    stories: 'Stories',
    lotSize: metrics.lotSizeUnits|default('lot sqft'),
    sqrtFootage: metrics.sqrtFootageUnits|default('sqft'),
    yearBuilt: 'built'
} %}

{% set outputProps = ['bedRooms','bathRooms','stories','lotSize','sqrtFootage','yearBuilt'] %}

<div class="metrics mtr10">
    {% for prop in outputProps %}
        {% if attribute(metrics, prop)|default('')|length %}
            <div class="metrics__item mt10">
                <span class="metrics__val small-text">
                    {{ attribute(metrics, prop) }}
                </span>

                {% if metricsLabels[prop] %}
                    <span class="metrics__label small-text2">
                        {{ metricsLabels[prop] }}
                    </span>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>
