{% set metricsLabels = {
    bedRooms: 'Beds',
    bathRooms: 'Baths',
    stories: '',
    lotSize: '',
    lotSizeUnits: '',
    sqrtFootage: '',
    sqrtFootageUnits: '',
} %}

<div class="metrics">
    <div class="metrics__list mtr10">
        {% for key, val in metrics %}
            {% if val and val|length %}
                <div class="metrics__item mt10">
                    <span class="metrics__val small-text">
                        {{ val }}
                    </span>

                    {% if metricsLabels[key] %}
                        <span class="metrics__label small-text2">
                            {{ metricsLabels[key] }}
                        </span>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
