{% block content %}
    <div class="preloader-wrap">
        <div class="preloader">
            <div class="spinner">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
{% endblock %}