<div class="select-language js-toggle-active js-bcc">
    <span class="select-language__current button2">En</span>

    <div class="select-language__list">
        <a class="select-language__link link-gray small-text2 mb10 _current" href="#">En</a>
        <a class="select-language__link link-gray small-text2 mb10" href="#">Zh</a>
    </div>
</div>