<form class="simple-search js-no-ajax">
    {% include 'layouts/form/input.html.twig' with {
        'name': 'search-input',
        'placeholder': 'Enter Your Adderss',
        'inputMod': '_bordered',
    } only %}

    <button class="icon-btn icon-search _big"></button>
</form>