{% set fullSearchMinPriceSelect = [
    "No min",
    10000,
    20000,
    30000,
    50000,
    100000,
    500000,
    800000,
    900000,
    1000000,
    1200000,
    1400000,
    1500000,
] %}

{% set fullSearchMaxPriceSelect = [
    "No max",
    10000,
    20000,
    30000,
    50000,
    100000,
    500000,
    800000,
    900000,
    1000000,
    1200000,
    1400000,
    1500000,
] %}

{% embed 'layouts/containers/dropdown-button.html.twig' with {
    placeholder: placeholder|default('Price'),
    wrapMod: wrapMod|default(''),
    popupMod: popupMod|default('_small-padding'),
    arrayMin: pricesArrayFrom|default(fullSearchMinPriceSelect),
    arrayMax: pricesArrayTo|default(fullSearchMaxPriceSelect),
    dataProps: {
        patternReplace: '@',
        patternTwin: {
            first: '@+',
            last: 'CA$0&#32;-&#32;@',
            both: '@&#32;-&#32;@',
        },
    }
} only %}
    {% block dropdown_content %}
        <div class="twin-fields js-twin-fields">
            {% include 'layouts/form/select.html.twig' with {
                name: 'min-price',
                inputMod: '_bordered-bright',
                formatBigPrice: true,
                options: arrayMin,
            } only %}
            {% include 'layouts/form/select.html.twig' with {
                name: 'max-price',
                inputMod: '_bordered-bright',
                formatBigPrice: true,
                options: arrayMax,
            } only %}
        </div>
    {% endblock %}
{% endembed %}