{% set fullSearchMinPriceSelect = {
    name: 'min-price',
    inputMod: '_bordered-bright',
    options: [
        {
            value: false,
            text: 'No Min',
            selected: true,
        },
        {
            value: '100',
            text: 'CA$100',
        },
        {
            value: '200',
            text: 'CA$200',
        },
    ]
} %}

{% set fullSearchMaxPriceSelect = {
    name: 'max-price',
    inputMod: '_bordered-bright',
    options: [
        {
            value: false,
            text: 'No Max',
            selected: true,
        },
        {
            value: '100',
            text: 'CA$100',
        },
        {
            value: '200',
            text: 'CA$200',
        },
    ]
} %}

{% embed 'layouts/containers/dropdown-button.html.twig' with {
    placeholder: placeholder|default('Price'),
    wrapMod: wrapMod|default(''),
    popupMod: popupMod|default('_small-padding'),
    selectMin: minSlecet|default(fullSearchMinPriceSelect),
    selectMax: maxSelect|default(fullSearchMaxPriceSelect),
    dataProps: {
        patternReplace: '@',
        patternTwin: {
            first: '@+',
            last: 'CA$0&#32;-&#32;@',
            both: '@&#32;-&#32;@',
        },
    }
} only %}
    {% block dropdown_content %}
        <div class="twin-fields">
            {% include 'layouts/form/select.html.twig' with selectMin only %}
            {% include 'layouts/form/select.html.twig' with selectMax only %}
        </div>
    {% endblock %}
{% endembed %}