<section class="error {{ wrapMod ?? 'pt100 pb100' }}">
    <div class="error__container {{ containerMod ?? 'container-wide' }}">
        <div class="error__col error__col_left {{ svgWrapMod|default('') }} js-check-in-window">
            {% block error_svg %}{% endblock %}
        </div>

        <div class="error__col error__col_right">
            {% block error_content %}{% endblock %}
        </div>
    </div>
</section>
