<div class="footer pt150 pb50">
    <div class="footer__container container">
        <div class="footer__row mb70">
            {% include 'layouts/modules/social-buttons.html.twig' %}
        </div>

        <div class="footer__row mb70">
            {% include 'layouts/modules/nav-table.html.twig' %}
        </div>

        <div class="footer__row">
            {% include 'layouts/common/copyright.html.twig' %}
        </div>
    </div>
</div>