<div class="overlay js-overlay js-yt-stop-btn"></div>

<div class="popup-style popup-style_ty js-popup js-popup-ty">
    <div class="popup-style__container">
        <div class="cross-btn js-close-popup">
        </div>
        <div class="popup-style__scroll-wrap js-custom-scrollbar">
            <div class="popup-style__content">
                <div class="ty-content">
                    <span class="ty-content__title h2">Благодарим за заявку!</span>
                    <span class="ty-content__subtitle p1">Ваш запрос успешно отправлен и уже находится в обработке</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-style js-popup js-popup-contact-us">
    <div class="popup-style__container">
        <div class="cross-btn js-close-popup">
        </div>
        <div class="popup-style__scroll-wrap js-custom-scrollbar">
            <div class="popup-style__content">
                <form class="form-style">
                    <div class="form-style__input-list">
                        <div class="input-style">
                            <div class="input-style__container">
                                <input class="input-style__input required" type="text"
                                       name="name" placeholder="Имя *" value="" />
                            </div>
                        </div>
                        <div class="input-style">
                            <div class="input-style__container">
                                <input class="input-style__input required userphone"
                                       type="text" name="phone" placeholder="Телефон *"
                                       value="" />
                            </div>
                        </div>
                        <div class="input-style">
                            <div class="input-style__container">
                                <input class="input-style__input required usermail"
                                       type="text" name="email" placeholder="Email *"
                                       value="" />
                            </div>
                        </div>
                    </div>
                    <div class="confidentiality">
                        <p>Нажимая кнопку «отправить» вы соглашаетесь с правилами
                            <a
                                    href="pdf/confidentiality.pdf" target="_blank">Политики конфиденциальности</a>
                        </p>
                    </div>
                    <button class="btn-style btn-style_orange">
                            <span class="btn-style__wrapper">
                                <span class="btn-style__label b2">Отправить</span>
                            </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="popup-style js-popup js-popup-map">
    <div class="popup-style__container">
        <div class="cross-btn js-close-popup"></div>

        <div class="popup-style__scroll-wrap js-custom-scrollbar">
            <div class="popup-style__content">
                <div class="estate-popup-content">
                    <div class="map js-map">
                        <div class="map__container" id="estate-map" data-params='{"path":"/listing/search","center":[49.20984,-122.87793],"zoom":13,"minZoom":10,"refreshMarkers":true,"refreshYelp":true,"yelpPreloader":true,"cardsPreloader":true,"cardsPerPage":48,"maxMarkersCount":480}'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
