{% block content %}
    <nav class="navbar">
        <div class="navbar__item mb20">
            <a href="/" class="navbar__link link-light-gray h4">Home</a>
        </div>
        <div class="navbar__item mb20">
            <a href="/map" class="navbar__link link-light-gray h4">Map</a>
        </div>
        <div class="navbar__item mb20">
            <a href="/listing/list" class="navbar__link link-light-gray h4">Listings list</a>
        </div>
        <div class="navbar__item mb20">
            <a href="/login" class="navbar__link link-light-gray h4">User Login</a>
        </div>
        <div class="navbar__item mb20">
            <a href="/admin/login" class="navbar__link link-light-gray h4">Admin Login</a>
        </div>
        <!-- Right navbar links -->
    </nav>
{% endblock %}