<div class="breadcrumbs mt20 mb80">
    <div class="breadcrumbs__list container">
        <a href="#">Home</a>
        <a href="#">Page 2</a>
        <a href="#">Page 3</a>
        <a href="#">Page 4</a>
        <span>Current page</span>
    </div>
</div>