<div class="copyright">
    <div class="copyright__text tiny-text">
        Copyright © 2013 - 2019 EstateBlock.com. All Rights Reserved. EstateBlock Realty.
        <br>
        247 Sixth St, New Westminster, BC V3L 3A5 . Call 778-918-5990.
    </div>

    <a class="copyright__logo icon-iibs" href="#" title="IIBS" target="_blank"></a>
</div>
