<div class="preloader-wrap {{ mod ?? '' }}">
    <div class="preloader">
        <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>