<div class="listing-print-popup">
    <div class="listing-print-popup__top">
        <div class="listing-print-popup__logo-wrap">

        </div>

        <div class="listing-print-popup__agent-wrap">

        </div>
    </div>

    <span class="listing-print-popup__title h4 mb20">

    </span>

    <div class="listing-print-popup__table">
        <div class="listing-print-popup__col">

        </div>

        <div class="listing-print-popup__col js-print-map-container">

        </div>
    </div>

    <div class="listing-print-popup__props">
        <div class="listing-print-popup__props-item">

        </div>
    </div>

    <span class="listing-print-popup__title h5 mb10">

    </span>

    <div class="listed-by very-tiny">
        <p></p>
        <p></p>
    </div>
</div>
