.autofill {
	$r: &;
	position: relative;
	
	&__dropdown {
		@extend .select-dropdown;
	}
	
	&__options {
		@extend .select-scroll;
	}
	
	&__options-list {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	
	&._active {
		#{$r}__dropdown {
			@extend .select-dropdown-active;
		}
	}
}

.autofill-no-results {
	color: $gray1;
	
	&:not(._show) {
		display: none;
	}
}

.autofill-option {
	@extend .select-option;
	margin-top: 0;
	
	&:not(._hide) ~ & {
		margin-top: 10px;
	}
	
	.highlight {
		display: inline;
		background: yellow;
	}
	
	&._hide {
		display: none;
	}
}