.breadcrumbs {
    a, span {
        display: inline;
        position: relative;
        @extend .tiny-text;
    }
    
    a {
        position: relative;
        margin-right: 43px;
        @extend .icon-angle-right-thin;
        @extend .link-light-gray;
        
        &::before {
            font-family: $icomoon;
            @include absolute(auto, auto, 0.45em, calc(100% + 20px));
            display: block;
            color: $dark1;
            pointer-events: none;
            font-size: 6px;
            line-height: 1;
        }
    }
    
    span {
        color: $dark1;
    }
}
