.twin-fields {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 260px;
    
    &::before {
        content: '';
        @include absolute;
        @extend .small-text;
        width: 4px;
        height: 1px;
        background: $gray1;
    }
    
    .input-style,
    .select-module {
        width: calc(50% - 10px);
    }
}

.form-style {
    position: relative;
    
    &__full-w-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
        .tel-wrap,
        .btn-style,
        .input-style,
        .select-module {
            width: 100%;
        }
    }
    
    &__label {
        color: $gray1;
    }
}

.confidentiality {
    margin-bottom: 20px;
}

.request-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
    &__title {
        color: $white;
        width: 100%;
    }
    
    &__col {
        &_left,
        &_center {
            width: calc(100% / 10 * 3 - 40px / 3);
        }
        
        &_right {
            width: calc(100% / 10 * 4 - 40px / 3);
        }
    }
    
    &__row {
        margin-bottom: 10px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__buttons-wrap {
        text-align: right;
        
        .btn-style {
            margin-right: 5px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.contact-form {
    $r: &;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    
    &__col {
        width: 100%;
    }
    
    &__row {
        margin-bottom: 10px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &._2-col {
        #{$r}__col {
            width: calc(50% - 10px);
        }
    }
    
    &._collapse {
        #{$r}__check-wrap {
            display: none;
        }
    }
}

.tel-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    &__code {
        width: 119px;
    }
    
    &__phone {
        width: calc(100% - 119px);
        padding-left: 4px;
    }
}

.merge-inputs {
    .input-style {
        &:not(:last-child) {
            .input-style__input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: none;
            }
        }
        
        &:not(:first-child) {
            .input-style__input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.mini-subscribe-form {
    position: relative;
    
    .input-style {
        z-index: 1;
    }

    .icon-btn {
        @include absolute(0,5px,0,auto);
        z-index: 2;
    }
}

.filter-more {
    width: 305px;
    overflow: hidden;
    
    &__row {
        position: relative;
        width: 100%;
        
        .list + .list {
            @extend .mt10;
            @extend .pt10;
            border-top: 1px solid $gray-line;
        }
    
        .twin-fields {
            width: 100%;
        }
    }
    
    &__label {
        display: block;
    }
    
    &__buttons-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .btn-style {
            width: calc(50% - 5px);
        }
    }
}