.form-style {
    position: relative;

    &__input-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__input-list_2-col {
        .select-module {
            width: calc(50% - 10px);
        }

        .input-style {
            width: calc(50% - 10px);

            &_textarea {
                width: 100%;
            }
        }
    }

    &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &_mb {
            margin-bottom: 20px;
        }

        &_3 {
            .input-style,
            .select-module {
                width: calc(100% / 3 - 40px / 3);
            }
        }
    }
}

.confidentiality {
    margin-bottom: 20px;
}


.contact-form {
    $r: &;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    
    &__col {
        width: 100%;
    }
    
    &__row {
        margin-bottom: 10px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &._2-col {
        #{$r}__col {
            width: calc(50% - 10px);
        }
    }
    
    &._collapse {
        #{$r}__check-wrap {
            display: none;
        }
    }
}

.tel-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    &__code {
        width: 117px;
    }
    
    &__phone {
        width: calc(100% - 117px);
        padding-left: 10px;
    }
}