.twin-fields {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 260px;
    
    &::before {
        content: '';
        @include absolute;
        @extend .small-text2;
        width: 4px;
        height: 1px;
        background: $gray1;
    }
    
    .input-style,
    .select-module {
        width: calc(50% - 10px);
    }
}

.form-style {
    position: relative;

    &__input-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__input-list_2-col {
        .select-module {
            width: calc(50% - 10px);
        }

        .input-style {
            width: calc(50% - 10px);

            &_textarea {
                width: 100%;
            }
        }
    }

    &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &_mb {
            margin-bottom: 20px;
        }

        &_3 {
            .input-style,
            .select-module {
                width: calc(100% / 3 - 40px / 3);
            }
        }
    }
}

.confidentiality {
    margin-bottom: 20px;
}

.request-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    
    &__col {
        &_left,
        &_center {
            width: calc(100% / 10 * 3 - 40px / 3);
        }
        
        &_right {
            width: calc(100% / 10 * 4 - 40px / 3);
        }
    }
    
    &__row {
        margin-bottom: 10px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__buttons-wrap {
        text-align: right;
        
        .btn-style {
            margin-right: 5px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.contact-form {
    $r: &;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    
    &__col {
        width: 100%;
    }
    
    &__row {
        margin-bottom: 10px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &._2-col {
        #{$r}__col {
            width: calc(50% - 10px);
        }
    }
    
    &._collapse {
        #{$r}__check-wrap {
            display: none;
        }
    }
}

.tel-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    &__code {
        width: 119px;
    }
    
    &__phone {
        width: calc(100% - 119px);
        padding-left: 4px;
    }
}

.merge-inputs {
    .input-style {
        &:not(:last-child) {
            .input-style__input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: none;
            }
        }
        
        &:not(:first-child) {
            .input-style__input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.mini-subscribe-form {
    position: relative;
    
    .input-style {
        z-index: 1;
    }

    .icon-btn {
        @include absolute(0,5px,0,auto);
        z-index: 2;
    }
}