.header {
    z-index: 90;
    display: block;
    position: relative;
    width: 100%;
    height: 100px;

    &__fixed-wrap {
        @include fixed(0,auto,auto);
        width: inherit;
        height: inherit;
        box-sizing: border-box;
        border: 1px solid $gray-line;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 40px;
    }

    &__search-wrap {
        margin: 0 auto;
    }

    &__control-wrap {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}
