.header {
    z-index: 90;
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    
    .dropdown-button {
        &__popup {
            top: calc(100% - 20px);
        }
    }

    &__fixed-wrap {
        @include fixed(0,auto,auto);
        width: inherit;
        height: inherit;
        box-sizing: border-box;
        border: 1px solid $gray-line;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 40px;
    }

    &__logo-wrap {
        position: relative;
        margin-right: auto;
    }
    
    &__search-wrap {
        position: relative;
        margin-right: auto;
    }

    &__control-wrap {
        position: relative;
        margin-right: 20px;
        
        &:last-child {
            margin-right: 0;
        }
        
        &_fh {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            .select-language {
                height: 100%;
            }
        }
    }

    &__menu-wrap {
        @extend .menu-wrap;
        width: 250px;
        padding: 40px;
    }

    .hamburger-wrapper._active ~ &__menu-wrap {
        @extend .menu-wrap-active;
    }
}


.navbar {
    &__item {
        &:last-child {
            margin-bottom: 0;
        }
    }
}