@mixin input-wrap {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    
    @include media_700 {
        margin-bottom: 20px;
    }
}

@mixin error-styles {
    &.error {
        border-color: red !important;
    }
}

@mixin input-style {
    position: relative;
    z-index: 9;
    transition: $default_transition;
    height: 41px;
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    display: block;
    //font-family: $raleway;
    //@include p5;
    @include error-styles;
    //color: $c;
    border: 1px solid $gray0;
    border-radius: 10px;
    //
    //&:hover {
    //    background: $gray02;
    //}
    //
    //&:focus {
    //    border-color: $c;
    //}
    //
    &::-webkit-input-placeholder {
        @include small-text2;
        color: $gray1;
    }
    &::-moz-placeholder {
        @include small-text2;
        color: $gray1;
    }
    &:-ms-input-placeholder {
        @include small-text2;
        color: $gray1;
    }
    &:-moz-placeholder {
        @include small-text2;
        color: $gray1;
    }
    
    &._fill-gray {
        border: none;
        background: $gray2;
    }
    
    &._bright-border {
        border-color: $gray-line;
    }
    
    @include media_1700 {
    
    }
    
    @include media_1300 {
    
    }
    
    @include media_1000 {
    
    }
    
    @include media_700 {
    
    }
    
}

.input-style {
    @include input-wrap;
    
    &__inline-submit {
        @include absolute(auto, 0, 0, auto);
        width: 40px;
        height: 46px;
        z-index: 15;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        background: transparent;
        cursor: pointer;
        
        &::before {
            font-size: 22px;
        }
        
        &_fh {
            height: 100%;
        }
        
        &.icon-search {
            &::before {
                font-size: 21px;
                margin-top: -0.1em;
            }
        }
    }
    
    &__inline-submit ~ &__input {
        width: calc(100% - 40px);
    }
    
    &__input {
        @include input-style;
    }
    
    &__container {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    &__label {
        color: red;
    }
    
    &_textarea & {
        &__input {
            height: 150px;
            transition: none;
            padding-top: 15px;
            overflow: hidden;
        }
    }
    
    @include media_1700 {
    
    }
    
    @include media_1300 {
    
    }
    
    @include media_1000 {
    
    }
    
    @include media_700 {
        &_textarea & {
            &__input {
                height: 120px;
            }
        }
    }
}

.select-wrapper {

}