.listing-gallery {
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	
	&__list {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
	}
	
	&__item {
		position: relative;
		width: calc(50% - 5px);
		@include rh(350/630);
		margin-top: 10px;
		background: $gray2;
		overflow: hidden;
		z-index: 2;
		
		&:first-child {
			margin-top: 0;
		}
		
		&:nth-child(3n - 2) {
			width: 100%;
			@include rh(500/1275);
		}
	}
	
	&__img {
		display: block;
		z-index: 1;
	}
}