.map {
    @include absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    background: $gray2;
    
    .leaflet-control-attribution {
        padding-right: 12px;
    }
}

.homes-available {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding-right: 40px;
    color: $gray1;
    
    &__val {
        margin-right: .3em;
    }
}

.sort {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    &__label {
        color: $gray1;
        margin-right: .3em;
    }
}

.map-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: calc(100% - 100px);
    width: calc(100% - 80px);
    margin: 0 auto;
    
    &__title-wrap {
        width: 100%;
    }
    
    &__table {
        display: flex;
        align-items: stretch;
        align-content: flex-start;
        justify-content: space-between;
        width: 100%;
        flex: 1 0 0;
    }
    
    &__scroll-wrap {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    &__col {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
        &_left {
            width: 850px;
            
            &::before {
                content: '';
                display: block;
                @include absolute(0,auto,auto,-110%);
                width: 100%;
                height: 100%;
                z-index: 90;
            }
            
            .estate-content {
            
            }
    
            &._loading {
            
            }
        }
        
        &_right {
            width: calc(100% - 850px);
            padding-left: 40px;
        }
    }
    
    &__nav-wrap {
        width: 100%;
        padding-top: 10px;
    }
    
    &__filter-wrap {
        position: relative;
        width: 100%;
        z-index: 2;
        
        .dropdown-button {
            margin-right: 5px;
        }
    }
    
    &__sort-wrap {
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        z-index: 1;
    }
    
    &__cards-container {
        position: relative;
        width: 100%;
        flex: 1 0 0;
    }
    
    &__map-container {
        position: relative;
        width: 100%;
        flex: 1 0 0;
    }
    
    &__cards-wrap {
        @include absolute(0,auto,auto);
        width: calc(100% + 20px);
        height: 100%;
    }
    
    &__map-wrap {
        @include absolute(0,auto,auto);
        width: 100%;
        height: 100%;
    }
    
    &__cards-scroll-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        
        &:not([data-scrollbar]) {
            padding-right: 20px;
        }
    
        .scroll-content {
            padding-right: 20px;
        }
        
        .scrollbar-track-y .scrollbar-thumb {
            background: $gray1;
        }
    }
    
    @include media_min-2400 {
        &__col {
            &_left {
                width: 1140px;
            }
        
            &_right {
                width: calc(100% - 1140px);
            }
        }
    }
}

.map-interface-wrap {
    &:not(._drawing) {
        .map-draw-bar {
            display: none;
        }
    }
    
    &._drawing {
        .map-section__filter-wrap,
        .map-section__sort-wrap,
        .map-section__nav-wrap,
        .map-section__cards-container,
        .map-buttons-bar,
        .leaflet-control-zoom,
        .leaflet-control-layers,
        .leaflet-marker-icon {
            opacity: .3;
            pointer-events: none;
        }
    
        .map-section__col_left::before {
            left: 0;
        }
    }
    
    &:not(._draw-apply) {
        .remove-boundary-button {
            display: none;
        }
        .edit-boundary-button {
            display: none;
        }
    }
    
    &._draw-apply {
        .draw-button {
            display: none;
        }
    }
}

.map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
    .leaflet-control-layers-selector {
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #eee;
        border: 1px solid green;
        box-sizing: border-box;
        
        &::before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            @include absolute;
            opacity: 0;
            transition: $default-transition;
        }
        
        &:checked {
            &::before {
                opacity: 1;
            }
        }
    }
    
    .leaflet-control {
        user-select: none;
    }
    
    .leaflet-control-layers-toggle {
        background-image: url(../../images/map/layers.png);
    }
}

.map-controls {
    $r: &;
    @include absolute(0,auto,auto);
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

.map-draw-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: rgba(0,0,0,.8);
    width: 100%;
    color: $white;
    pointer-events: auto;
    
    &__label {
        margin-right: auto;
        padding: 0 40px 0 20px;
    }
    
    &__btn {
        height: 50px;
        padding: 20px;
        background: transparent;
        transition: $default-transition;
        
        &:hover {
            background: green;
        }
    }
}

.map-buttons-bar {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: -10px;
    
    .select-module {
        width: 200px;
    }
    
    .select-module,
    .btn-style {
        margin-left: 10px;
        margin-top: 10px;
        pointer-events: auto;
    }
}

.marker-popup-inner {
    $r: &;
    position: relative;
    width: 400px;
    padding: 10px 10px 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    &__left-col {
        width: 107px;
    }
    
    &__right-col {
        width: calc(100% - 107px);
        padding-left: 10px;
    }
    
    &__img-wrap {
        position: relative;
        display: block;
        width: 100%;
        @include rh(66/107);
        border-radius: 10px;
        overflow: hidden;
        background: $gray2;
        z-index: 3;
        
        &:hover {
            #{$r}__img {
                transform: scale(1.05);
            }
        }
    }
    
    &__img {
        z-index: 1;
        transition: $default-transition;
        transform-origin: 50% 50%;
        will-change: transform;
    }
    
    &__title {
        display: inline-block;
    }
}

.estate-content {
    position: relative;
    width: 100%;
    padding: 0 0 40px;
    overflow: hidden;
}

.map-page {
    height: 100%;
    
    body,
    .content {
        height: 100%;
    }
}

.leaflet-popup {
    
    .leaflet-popup-content-wrapper {
        padding: 0;
        border-radius: 10px;
        
        .leaflet-popup-content {
            margin: 0;
        }
    }
}

.leaflet-container a.leaflet-popup-close-button {
    @include absolute(0, 0, auto, auto);
    @extend .icon-cross;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    padding: 9px 9px 6px 6px;
    width: auto;
    height: auto;
    
    &:hover {
        &:before {
            color: $turquoise;
        }
    }
    
    &::before {
        display: block;
        font-family: $icomoon;
        font-size: 9px;
        line-height: 1;
        font-weight: 100;
        color: $dark1;
        transition: $default-transition;
    }
}

.marker-icon {
    .marker-inner {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-sizing: content-box;
        //background: green;
        //background: $fuchsia;
        background: $turquoise;
        
        &::before,
        &::after {
            content: '';
            @include absolute();
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }
        
        &::before {
            transform-origin: 50% 50%;
            background: inherit;
            opacity: .3;
            z-index: 1;
            transition: transform .3s ease;
        }
        
        &::after {
            border: 2px solid $white;
            box-sizing: border-box;
            z-index: 2;
        }
        
        &._school {
            background: $fuchsia;
            border-radius: 0;
        }
    }
    
    &:hover,
    &._active {
        z-index: 9999 !important;
        
        .marker-inner {
            &::before {
                transform: scale(2);
            }
        }
    }
}


.yelp-marker-icon {
    .yelp-marker-inner {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
    
        &::after,
        &::before {
            @include absolute;
            font-size: 49px;
            line-height: 1;
            font-weight: 100;
            letter-spacing: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }

        &::after {
            content: "\e931";
            font-family: $icomoon;
            transition: color .3s ease;
            z-index: 1;
        }

        &::before {
            color: $white;
            z-index: 2;
        }
    
        &.icon-bicycles,
        &.icon-driving,
        &.icon-transit,
        &.icon-walking {
            color: #757AFF;
        }
        
        &.icon-arts {
            color: #4AB2D8;
        }
        
        &.icon-cafes {
            color: #9B441F;
        }
        
        &.icon-education {
            color: #E8D000;
        }
        
        &.icon-fitness {
            color: #374246;
        }
        
        &.icon-groceries {
            color: #90BF0B;
        }
        
        &.icon-nightlife {
            color: #3ACAC1;
        }
        
        &.icon-restaurants {
            color: #F15A7F;
        }
        
        &.icon-shopping {
            color: #633ABA;
        }
        
        &.icon-realestate {
            color: #448114;
    
            @media print {
                color: $black;
            }
        }
    }
    
    &:hover,
    &._active {
        z-index: 9999 !important;
        
        .yelp-marker-inner:not(.icon-realestate) {
            &::after {
                color: $dark1;
            }
        }
    }
}

.yelp-simple-card {
    background: $white;
    border-radius: 10px;
    @extend .mb10;
    
    &:last-child {
        margin-bottom: 0;
    }
    
    .yelp-marker-popup-inner {
        width: 100%;
    }
}

.yelp-marker-popup-inner {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    width: 290px;
    padding: 10px;
    
    &__img-wrap {
        display: block;
        position: relative;
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 10px;
        z-index: 2;
        
        img {
            display: block;
            z-index: 1;
        }
    }
    
    &__info {
        position: relative;
        width: calc(100% - 60px);
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    &__description {
        padding-right: 10px;
    }
    
    &__rating-wrap {
        margin-top: auto;
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
    
    &__reviews {
        padding-left: 8px;
        padding-right: 4px;
        margin-right: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1px;
    }
    
    &__categories {
        color: $gray1;
    }
    
    &__reviews {
        color: $gray1;
    }
}

.yelp-logo {
    position: relative;
    display: block;
    width: 30px;
    @include rh(0.5);
    background: url(../../images/map/yelp/yelp-logo.png) center center no-repeat;
    background-size: contain;
}

.rating {
    width: 82px;
    max-width: 100%;
    @include rh(14/82);
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    
    &._5 {
        background-image: url(../../images/map/rating/rating_5.png);
    }
    
    &._45 {
        background-image: url(../../images/map/rating/rating_4_half.png);
    }
    
    &._4 {
        background-image: url(../../images/map/rating/rating_4.png);
    }
    
    &._35 {
        background-image: url(../../images/map/rating/rating_3_half.png);
    }
    
    &._3 {
        background-image: url(../../images/map/rating/rating_3.png);
    }
    
    &._25 {
        background-image: url(../../images/map/rating/rating_2_half.png);
    }
    
    &._2 {
        background-image: url(../../images/map/rating/rating_2.png);
    }
    
    &._15 {
        background-image: url(../../images/map/rating/rating_1_half.png);
    }
    
    &._1 {
        background-image: url(../../images/map/rating/rating_1.png);
    }
    
    &._0 {
        background-image: url(../../images/map/rating/rating_0.png);
    }
}

.yelp-cards-slider {
    position: relative;
    width: calc(100% + 20px);
    left: -10px;
    
    .yelp-card {
        padding: 0 10px;
    }
}

.yelp-card {
    &__img-wrap {
        display: block;
        position: relative;
        @include rh;
        width: 100%;
        max-width: 120px;
        border-radius: 20px;
        overflow: hidden;
        z-index: 2;
        
        img {
            z-index: 1;
        }
    }
    
    &__title {
        color: $dark1;
    }
    
    &__categories {
        color: $gray1;
    }
    
    .yelp-logo {
        width: 41px;
    }
}