.metrics {
	$r: &;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	
	&__item {
		padding: 5px 20px;
		background: $gray2;
		border-radius: 30px;
		display: flex;
		align-items: baseline;
		justify-content: flex-start;
		margin-right: 10px;
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	&__val {
		color: $dark1;
	}
	
	&__label {
		color: $gray1;
		margin-left: 5px;
		
		&:first-child {
			margin-left: 0;
			margin-right: 5px;
		}
	}
	
	&._simple {
		#{$r}__item {
			padding: 0;
			margin-right: 0;
			border-radius: 0;
			background: transparent;
			
			&:last-child {
				#{$r}__label {
					&::after {
						display: none;
					}
				}
			}
		}
		
		#{$r}__label {
			margin-left: 0;
			color: $gray0;
			
			&::before,
			&::after {
				pointer-events: none;
				display: inline;
				user-select: none;
			}
			
			&::before {
				content: '\00a0';
			}
			
			&::after {
				content: '\00a0|\00a0';
			}
			
			&:first-child {
				margin-right: 0;
				
				&::before {
					display: none;
				}
				
				&::after {
					content: '\00a0';
				}
			}
		}
	}
}
