[data-scrollbar] {
	.scroll-content {
		padding-right: 15px;
	}
	
	.scrollbar-track-y {
		width: 3px;
		background: transparent;
		
		.scrollbar-thumb {
			width: 3px;
			background: $gray5;
			border-radius: 3px;
			transition: background .3s ease;
			cursor: pointer;
			
			&:hover,
			&:active {
				background: $dark1;
			}
		}
	}
}
