.select-dropdown {
    z-index: 10;
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    width: 100%;
    overflow: hidden;
    background: $white;
    pointer-events: none;
    transform: rotateX(90deg) translateY(0);
    transform-origin: 0 0;
    transition: transform 1s ease, opacity 0.5s ease;
    opacity: 0;
    padding: 20px 10px 20px 20px;
    border: 1px solid $gray-line;
    border-radius: 10px;
}

.select-dropdown-active {
    transform: rotateX(0deg);
    opacity: 1;
    pointer-events: all;
}

.select-scroll {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-height: 84px;
}



.select-option {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    color: $gray0;
    transition: $default-transition;
    @extend .small-text;
    margin-top: 10px;
    
    &:first-child {
        margin-top: 0;
    }
    
    &:last-child {
        margin-bottom: 0;
    }
    
    &:hover {
        color: $dark1;
    }
    
    &._active {
        font-weight: 700;
        color: $dark1;
    }
}

@mixin select-module-styles {
    @include input-wrap;
    position: relative;
    perspective: 1000px;
    z-index: 10;
    color: $dark1;
    
    &__select {
        //@include error-styles;
    }
    
    &__text-block {
        max-width: 100%;
        overflow: hidden;
        font-weight: 700;
    }
    
    &__input-container:not(._inline) & {
        &__text-block {
            line-height: 1;
        }
    }
    
    &__input-container._inline ~ &__dropdown {
        min-width: 150px;
        right: 0;
        left: auto;
    }
    
    
    
    &__label {
        color: $white;
    }
    
    &__input-container {
        @include input-style;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        padding-right: 30px;
        @extend .angle-down-after;
        
        &::after {
            right: 15px;
        }
    }
    
    &__dropdown {
        @extend .select-dropdown;
    }
    
    &__scroll {
        @extend .select-scroll;
    }
    
    &__option {
        @extend .select-option;
    }
    
    &._thin-text & {
        &__text-block {
            font-weight: 500;
        }
    }
    
    &._active {
        z-index: 20;
    }
    
    &._active & {
        &__input-container {
            &::after {
                transform: scaleY(-1);
            }
        }
        
        &__dropdown {
            @extend .select-dropdown-active;
        }
    }
}

.select-module {
    @include select-module-styles;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    
    p {
        display: block;
        
        span {
            display: block;
        }
    }
}
