.select-language {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	@extend .angle-down-after;
	
	&:hover & {
		&__current {
			color: $fuchsia;
		}
	}
	
	&__current {
		transition: $default-transition;
		padding-right: 14px;
		cursor: pointer;
	}
	
	&__list {
		@extend .menu-wrap;
		width: auto;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	
	&__link {
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&._active & {
		&__list {
			@extend .menu-wrap-active;
		}
	}
}