.slide-menu {
	$r: &;
	position: relative;
	display: block;
	width: 100%;
	height: 30px;
	color: black;
	margin-right: auto;
	padding-top: 8px;
	box-sizing: content-box;
	
	&::after {
		content: '';
		display: block;
		@include absolute(0,0,0,auto);
		height: 100%;
		z-index: 3;
		transition: $default-transition;
		pointer-events: none;
		width: 58px;
		background: linear-gradient(270deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
	}
	
	&__overflow-wrap {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	
	&__list {
		@include absolute(0,auto,auto);
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		max-width: none;
		width: auto;
		z-index: 2;
		cursor: grab;
		
		&:active {
			cursor: grabbing;
		}
		
		&.ui-draggable-dragging {
			#{$r}__item {
				pointer-events: none;
			}
		}
	}
	
	&__item {
		display: block;
		white-space: nowrap;
		padding-right: 30px;
		
		&:last-child {
			padding-right: 0;
		}
	}
	
	&__link {
		padding-bottom: 11px;
		border-bottom: 2px solid transparent;
		color: $gray1;
		transition: $default-transition;
		cursor: pointer;
		
		&:hover {
			color: $gray0;
		}

		&._active {
			color: $dark1;
			border-color: $dark1;
		}
	}
	
	&__button {
		@include absolute(0, 0, auto, auto);
		z-index: 10;
		transition: $default-transition;
	}
	
	&._end {
		&::after {
			opacity: 0;
		}
		
		#{$r}__button {
			cursor: default;
			opacity: 0;
		}
	}
}