.slider-nav {
	position: relative;
	pointer-events: auto;
	
	&__arrows-wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	
	&__arrow {
		color: $dark1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border: 1px solid $gray-line;
		box-sizing: content-box;
		width: 40px;
		height: 50px;
		background: $white;
		transition: $default-transition;
		
		&:hover {
			background: $gray4;
		}
		
		&::before {
			font-size: 12px;
			transition: $default-transition;
		}
		
		&:not(.slick-arrow) {
			opacity: 0;
		}
		
		&.slick-disabled {
			pointer-events: none;
			
			&::before {
				opacity: 0.3;
			}
		}
		
		&_left {
			border-radius: 10px 10px 0 0;
		}
		
		&_right {
			border-radius: 0 0 10px 10px;
			border-top-width: 0;
		}
	}
	
	&._horizontal & {
		&__arrows-wrap {
			flex-direction: row;
		}
		
		&__arrow {
			width: 50px;
			height: 40px;
			
			&_left {
				border-radius: 10px 0 0 10px;
			}
			
			&_right {
				border-radius: 0 10px 10px 0;
				border-top-width: 1px;
				border-left-width: 0;
			}
		}
	}
}
