.content-section {
	//@extend .mb80;
	
	&:last-child {
		margin-bottom: 0;
	}
}

.text-block {
	p {
		//@extend .p3;
		//@extend .mb20;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	h1 {
		//@extend .h1;
		//@extend .mt20;
		//@extend .mb40;
	}
	
	h2 {
		//@extend .h2;
		//@extend .mt20;
		//@extend .mb40;
	}
	
	h3,
	h4 {
		//@extend .p4;
		//@extend .mb40;
	}
	
	h5,
	h6 {
		//@extend .p2;
		//@extend .mb20;
	}
	
	ul {
		//@extend .p3;
		//@extend .mb40;
		
		li {
			//@extend .mb20;
			
			&::before {
				content: '—';
				margin-right: .3em;
				display: inline-block;
			}
		}
	}
	
	ol {
		//@extend .p3;
		//@extend .mb40;
		counter-reset: list;
		
		li {
			//@extend .mb20;
			display: flex;
			align-items: baseline;
			justify-content: flex-start;
			
			&::before {
				counter-increment: list;
				content: counter(list) '.';
				margin-right: .5em;
				display: block;
				//@extend .p2;
			}
		}
	}
}