.content-section {
	//@extend .mb80;
	
	&:last-child {
		margin-bottom: 0;
	}
}

.text-block {
	p {
		&:not([class]) {
			@extend .table-text;
		}
		@extend .mb20;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	h1 {
		@extend .h1;
		@extend .mb50;
	}
	
	h2 {
		@extend .h2;
		@extend .mb50;
	}
	
	h3 {
		@extend .h3;
		@extend .mb40;
	}
	
	h4 {
		@extend .h4;
		@extend .mb30;
	}
	
	h5 {
		@extend .h5;
		@extend .mb20;
	}
	
	h6 {
		@extend .h6;
		@extend .mb20;
	}
	
	ul {
		//@extend .p3;
		//@extend .mb40;
		
		li {
			//@extend .mb20;
			
			&::before {
				content: '—';
				margin-right: .3em;
				display: inline-block;
			}
		}
	}
	
	ol {
		//@extend .p3;
		//@extend .mb40;
		counter-reset: list;
		
		li {
			//@extend .mb20;
			display: flex;
			align-items: baseline;
			justify-content: flex-start;
			
			&::before {
				counter-increment: list;
				content: counter(list) '.';
				margin-right: .5em;
				display: block;
				//@extend .p2;
			}
		}
	}
}