.title-block {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	
	&__text {
		flex: 1 0 0;
		padding-right: 40px;
		
		&:last-child {
			padding-right: 0;
		}
	}
	
	&__slider-nav-wrap {
	
	}
}
