{% extends 'admin/base.html.twig' %}

{% block title %}New StaticPages{% endblock %}

{% block body %}

    {% embed 'admin/layouts/top-panel.html.twig' %}{% endembed %}
    {% embed 'admin/layouts/left-panel.html.twig' %}{% endembed %}

    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Responsive Hover Table</h3>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <h1>Create new StaticPages</h1>

                        {{ include('admin/static_pages/_form.html.twig') }}

                        <a href="{{ path('static_pages_index') }}">back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
