$white: #ffffff;
$black:#000;

$dark1: #374246;
$fuchsia: #CB009B;
$gray0: #5F6C75;
$gray1: #ACB8C0;
$gray-line: #E1E6E7;
$gray2: #F0F3F8;
$gray3: #E5E8EC;
$gray4: $gray2;
$gray5: #CDD6DC;
$turquoise: #757AFF;
$red: #FF6F31;
$green: #B9C157;
$yellow: #FFF06A;

$blue: #3452C9;
$blue2: #94ABFF;
$fuchsia-hover: #EC18BA;
$pink-red: #F15A7F;
$pink: #F0AACE;
$pink-pdra: #FEDEDF;

$twitter: #00ABF0;
$facebook: #39579A;
$youtube: #FF0000;
$linkedin: #0A66C2;
$pinterest: #E60023;

$g1: linear-gradient(90deg, #FBAEC8 -0.05%, #757AFF 100%);

$bg-grad-1: linear-gradient(90deg, #F9B7B4 -0.05%, #FCE0DF 100%);
$bg-grad-2: linear-gradient(90deg, #F49E9A -0.05%, #FFEFEE 100%);
$bg-grad-3: linear-gradient(90deg, #E1E7FF -0.05%, #FFFFFF 100%);

.bg-grad-1 {
	background: $bg-grad-1;
}
.bg-grad-2 {
	background: $bg-grad-2;
}
.bg-grad-3 {
	background: $bg-grad-3;
}