$white: #fff;
$black:#000;

$dark1: #374246;
$fuchsia: #CB009B;
$gray0: #5F6C75;
$gray1: #ACB8C0;
$gray-line: #E1E6E7;
$gray2: #F0F3F8;
$turquoise: #757AFF;
$red: #FF6F31;
$green: #B9C157;
$yellow: #FFF06A;

$twitter: #00ABF0;
$facebook: #39579A;
$youtube: #FF0000;
$linkedin: #0A66C2;
$pinterest: #E60023;

$g1: linear-gradient(90deg, #FBAEC8 -0.05%, #757AFF 100%);