$white: #fff;
$black:#000;

$dark1: #374246;
$fuchsia: #CB009B;
$gray0: #5F6C75;
$gray1: #ACB8C0;
$gray-line: #E1E6E7;
$gray2: #F0F3F8;
$gray3: #E5E8EC;
$gray4: $gray2;
$gray5: #CDD6DC;
$turquoise: #757AFF;
$red: #FF6F31;
$green: #B9C157;
$yellow: #FFF06A;

$blue: #3452C9;
$blue2: #94ABFF;
$fuchsia-hover: #EC18BA;
$pink-red: #F15A7F;
$pink: #F0AACE;
$pink-pdra: #FEDEDF;

$twitter: #00ABF0;
$facebook: #39579A;
$youtube: #FF0000;
$linkedin: #0A66C2;
$pinterest: #E60023;

$g1: linear-gradient(90deg, #FBAEC8 -0.05%, #757AFF 100%);