.h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: $dark1;
}

.h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: $dark1;
}

.h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: $dark1;
}

.h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $dark1;
}

.h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $dark1;
}

.h6 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $dark1;
}

.subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: $dark1;
}

.subtitle2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.body-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.body-text2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.table-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.small-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

@mixin small-text2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.small-text2 {
    @include small-text2;
}

.tiny-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.very-tiny {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 1;
}

.button1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.button2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.schild {
    font-weight: 700;
    font-size: 10px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.link-dark {
    color: $dark1;
    transition: $default-transition;

    &:hover {
        color: $turquoise;
    }
}

.link-purple {
    color: $turquoise;
    transition: $default-transition;

    &:hover {
        color: $blue;
    }
}

.link-purple-lb {
    color: $turquoise;
    transition: $default-transition;

    &:hover {
        color: $blue2;
    }
}

.link-white-fuchsia {
    color: $white;
    transition: $default-transition;
    
    &:hover {
        color: $fuchsia-hover;
    }
}

.link-fuchsia {
    color: $fuchsia;
    transition: $default-transition;

    &:hover {
        color: $fuchsia-hover;
    }
}

.link-turquoise {
    color: $turquoise;
    transition: $default-transition;

    &:hover {
        color: $blue;
    }
}

.link-light-gray {
    color: $gray1;
    transition: $default-transition;
    
    &:hover,
    &._current {
        color: $dark1;
    }
    
    &._current {
        font-weight: 700;
    }
}

.link-gray {
    color: $gray0;
    transition: $default-transition;
    
    &:hover,
    &._current {
        color: $dark1;
    }
    
    &._current {
        font-weight: 700;
    }
}

.link-underline {
    &:hover {
        text-decoration: underline;
    }
}

textarea {
    resize: none;
}

b,
strong,
.bold {
    font-weight: 700 !important;
}
