h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

.link-style {
    color: green;
    transition: $default-transition;

    &:hover {
        color: red;
    }
}


.link-underline {
    &:hover {
        text-decoration: underline;
    }
}

textarea {
    resize: none;
}

b,
strong,
.bold {
    font-weight: bold !important;
}
